@import url('https://fonts.googleapis.com/css2?family=Exo&family=Special+Elite&display=swap');

/*
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
*/

body {
    margin: 0;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Exo', sans-serif;
}

p {
    font-family: 'Special Elite', cursive;
}

/* nav and hero */

article:first-child section {
    background: url(../img/bg.jpeg) center/cover no-repeat;
    height: 85vh;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul {
    text-align: right;
}

article:first-child section img {
    position: absolute;
    bottom: 10%;
}

/* main */

/* hello */

#hello {
    background: url(../img/beans_icon.png) center/cover no-repeat;
    padding: 5%;
}

#hello p {
    font-size: 1.5rem;
    width: 40vw;
}

.parallax1 {
    background-image: url("../img/bridge_1.jpg");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    margin: 5vh 0;
}

/* menu */

#menu {
    background: url(../img/cake_icon.png) center/contain no-repeat;
    text-align: center;
    padding: 10vh 0;
}

h2 {
        font-size: 5rem;
        font-weight: 700;
        margin: 0;
}

#menu img {
    width: 7.5%;
    margin-top: 2vh;
}

h5 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 1rem;
}

.parallax2 {
    background-image: url("../img/bridge_2.jpg");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

#menu p {
    margin: auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#menu section {
    border: 1px #000 solid;
    width: 25vw;
    margin: 2% auto;
    padding: 1.25%;
}