@import url('https://fonts.googleapis.com/css2?family=Exo&family=Special+Elite&display=swap');

/*
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
*/

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Exo', sans-serif;
}

p, a {
    font-family: 'Special Elite', cursive;
}

/* parallax */

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav and hero */

#hero {
    background: url(../img/bg.jpeg) center/cover no-repeat;
    height: 100vh;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul {
    text-align: right;
}

#hero img {
    position: absolute;
    bottom: 2.5%;
}

nav {
    position: fixed;
    background-color: #fff;
    width: 100%;

}

a:hover {
    border-bottom: 1px #000 solid;
}

/* main */

/* hello */

#hello {
    background: url(../img/beans_icon.png) center/cover no-repeat;
    padding: 5%;
}

#hello p {
    font-size: 1.5rem;
    width: 40vw;
}

.parallax1 {
    background-image: url("../img/bridge_1.jpg");
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    margin: 5vh 0;
}

/* menu */

#menu {
    background: url(../img/cake_icon.png) center/contain no-repeat;
    text-align: center;
    padding: 10vh 0;
}

h2 {
        font-size: 5rem;
        font-weight: 700;
        margin: 0;
}

#menu img {
    width: 8%;
    margin-top: 2vh;
}

#menu a {
    font-weight: lighter;
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
}

h5 {
    margin-top: 0;
}

.parallax2 {
    background-image: url("../img/bridge_2.jpg");
}

h3 {
    font-size: 2.5rem;
    margin: 2.5% 0 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

#menu p {
    margin: auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#menu section {
    border: 1px #000 solid;
    width: 25vw;
    margin: 1.25% auto;
    padding: 1.25%;
}

/* our story */

#story {
    padding: 5% 15%;
    height: 60vh;
}

#story p {
    font-size: 1.5rem;
    width: 40%;
    float: left;
}

#story img {
    float: right;
    width: 30%;
    margin: 10% 10% 0;
}

.parallax3 {
    background-image: url("../img/bridge_3.jpg");
}

/* catering */

#catering {
    padding: 5% 15%;
    height: 60vh;
}

#catering h2,
#catering a {
    float: right;
}

#catering p {
    font-size: 1.5rem;
    width: 40%;
    float: right;
}

#catering img {
    float: left;
    width: 40%;
    margin: 10% 0
}

.parallax4 {
    background-image: url("../img/bridge_4.jpeg");
}