@import url('https://fonts.googleapis.com/css2?family=Exo&family=Special+Elite&display=swap');

/*
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
*/

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Exo', sans-serif;
}

p, a {
    font-family: 'Special Elite', cursive;
}

/* parallax */

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

/* nav and hero */

#hero {
    background: url(../img/bg.jpeg) center/cover no-repeat;
    height: 100vh;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul {
    text-align: right;
}

#hero img {
    position: absolute;
    bottom: 5%;
}

nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
}

a:hover {
    border-bottom: 1px #000 solid;
}

/* main */

/* hello */

#hello {
    background: url(../img/beans_icon.png) center/cover no-repeat;
    padding: 5%;
}

#hello p {
    font-size: 1.5rem;
    width: 40vw;
}

.parallax1 {
    background-image: url("../img/bridge_1.jpg");
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    margin: 5vh 0;
}

/* menu */

#menu {
    background: url(../img/cake_icon.png) center/contain no-repeat;
    text-align: center;
    padding: 10vh 0;
}

#menu img {
    width: 8%;
    margin-top: 2vh;
}

#menu a {
    font-weight: lighter;
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
}

.parallax2 {
    background-image: url("../img/bridge_2.jpg");
}

h3 {
    font-size: 2.5rem;
    margin: 2.5% 0 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

#menu p {
    margin: auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#menu section {
    border: 1px #000 solid;
    width: 25vw;
    margin: 1.25% auto;
    padding: 1.25%;
}

/* our story */

#story {
    padding: 5% 15%;
    height: 60vh;
}

#story p {
    font-size: 1.5rem;
    width: 40%;
    float: left;
}

#story img {
    float: right;
    width: 30%;
    margin: 10% 10% 0;
}

.parallax3 {
    background-image: url("../img/bridge_3.jpg");
}

/* catering and cakes */

#catering,
#cakes {
    padding: 5% 15% 0;
}

#catering {
    height: 55vh;
}

#cakes {
    height: 45vh;
}

#catering img,
#cakes img {
    float: left;
    width: 40%;
}

#catering img {
    margin-top: 5.5%;
}

#catering div,
#cakes div {
    float: right;
    font-size: 1.5rem;
    width: 50%;
}

#catering a,
#cakes a {
    text-decoration: none;
    border: 1px #000 solid;
    padding: 1.5%;
    color: #000;
}

#catering {
    background: url(../img/pie_icon.png) no-repeat;
    background-size: 30%;
    background-position: right;
}

#cakes {
    background: url(../img/muffin_icon.png) no-repeat;
    background-size: 30%;
    background-position: left;
}

.parallax4 {
    background-image: url("../img/bridge_4.jpeg");
}

/* footer */

footer {    
    height: 30vh;
    background: #000;
    text-align: center;
    color: #fff;
    padding-top: 3%;
}

footer p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

footer img {
    display: block;
    margin: 0 auto;
}

a img:nth-of-type(1),
a img:nth-of-type(2) {
    width: 2%;
}

footer img {
    width: 7%;
}

footer li {
    list-style: none;
}